<h1>Profil de l'utilisateur</h1>


<% if logged_in? %>

<p>Bonjour <%= @current_user.name %> ! Bien ou bien ?</p>
<p>Voici les événements auxquels tu participes :</p>
<%= @current_user.events.each do |event| %>
<%= event.description %>
<p> Voici les événements dont tu es l'organisateur :</p>
<%= 
<% end %>

<% end %>
